@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Dobro došli na Web stranicu studentske službe ETF-a!</h1>
    <p><a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Info" role="button">Learn more</a></p>
</div>    
